<div class="row">
    <div class="col-xs12 col-sm-3">
        <img ng-src="{{::model.poster_url}}" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h1>{{model.title}}</h1>
        <p>
            {{model.categories}}
        </p>
        <div class="row">
            <div class="col-xs-6">
                {{::model.release_date | date:"dd/MM/yyyy"}}
            </div>
            <div class="col-xs-6">
                <div class="text-right">
                    {{::model.rating}}
                </div>
            </div>
        </div>
        <p>
            {{::model.overview}}
        </p>
    </div>
</div>
