<div ng-controller="MoviesListController"> 
<!-- Mejor poner un div que conecta la vista, y ponerle el controlador de la vista ahí -->
<h1>Movies</h1>
<div class="alert alert-danger" ng-show="uiState=='error'"s>
	Error while loading data
</div>
<div ng-include="'views/ProgressBar.html'" ng-show="iuState=='loading'"></div>

<div class="jumbotron" ng-show="uiState=='blank'">
	<p class="lead">No data here</p>
</div>
    <media-item-list items="model" get-detail-url="getMovieDetailURL(stuff)" ng-show="uiState=='ideal'"></media-item-list>
</div>