<div ng-controller="MoviesListController"> 
<!-- Mejor poner un div que contenta la vista, y ponerle el controlador de la vista ahí -->
<h1>Movies</h1>
<div class="alert alert-danger" ng-show="uiState=='error'"s>
	Error while loading data
</div>

<div class="progress" ng-show="uiState=='loading'">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
  </div>
</div>

<div class="jumbotron" ng-show="uiState=='blank'">
	<p class="lead">No data here</p>
</div>
    <table class="table table-striped" ng-show="uiState=='ideal'">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        	<tr ng-repeat="item in model">
        		<td>
        			<img ng-src="{{::item.poster_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}">
        		</td>
        		<td>
        			{{::item.title}}
        		</td>
        		<td>
        			{{::item.release_date | date:"dd/MM/yyyy"}}
                    <br> ({{::item.release_date | ago}})
        		</td>
        		<td>
        			{{::item.rating}}
                    <br> ({{::item.rating | schoolrating:"US"}})
        		</td>
        	</tr>
        <tbody>
        </tbody>
    </table>
</div>