<div>
    <h1>New movie</h1>
    <form name="movieForm" novalidate class="form-horizontal">
        <div class="form-group" ng-class="{ 'has-success': movieForm.title.$valid, 'has-error': movieForm.title.$invalid }">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="title" ng-model="model.title" class="form-control" required>
                <div class="text-danger" ng-show="movieForm.title.$dirty && movieForm.title.$error.required">
                    The title is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="poster_url" class="col-sm-2 control-label">Poster URL</label>
            <div class="col-sm-10">
                <input type="url" name="poster_url" ng-model="model.poster_url" class="form-control" required>
                 <div class="text-danger" ng-show="movieForm.poster_url.$dirty && movieForm.poster_url.$error.required">
                    The poster URL is required.
                </div>
                <div class="text-danger" ng-show="movieForm.poster_url.$dirty && movieForm.poster_url.$error.url">
                    The poster URL is invalid.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rating" class="col-sm-2 control-label">Rating</label>
            <div class="col-sm-10">
                <input type="number" name="rating" ng-model="model.rating" class="form-control" required max="10" min="0">
                <div class="text-danger" ng-show="movieForm.rating.$dirty && movieForm.rating.$error.required">
                    The rating is required.
                </div>
                <div class="text-danger" ng-show="movieForm.rating.$dirty && (movieForm.rating.$error.number || movieForm.rating.$error.max || movieForm.rating.$error.min)">
                    The rating must be a number between 0 and 10
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="release_date" class="col-sm-2 control-label">Release Date</label>
            <div class="col-sm-10">
                <input type="date" name="release_date" ng-model="model.release_date" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="overview" class="col-sm-2 control-label">Overview</label>
            <div class="col-sm-10">
                <textarea name="overview" ng-model="model.overview" class="form-control" rows="10" required></textarea>
            </div>
        </div>
        <div>
            <button class="btn btn-primary pull-right" type="submit" ng-disabled="movieForm.$invalid">Crear</button>
        </div>
    </form>
</div>
